[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/Empact_api/app
ExecStart=/var/lib/jenkins/workspace/Empact_api/env/bin/gunicorn app.wsgi:application

[Install]
WantedBy=multi-user.target
